// Layout
$page-width: 1100px;
$mobile: 375px;
$desktop-hero-height: 650px;

// Colors
// 1. Primary
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
// 2. Neutral
$grayish-blue: hsl(233, 8%, 62%);
$ligt-grayish-blue: hsl(220, 16%, 96%);
$light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Buttons
$primary-btn: linear-gradient(to right, $lime-green, $bright-cyan);

// Typography
$font-stack: 'Public Sans', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;

// Animations
@keyframes fillUp {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}
