@import 'variables';
@import '_reset';

/* Utilities start */
.btn-primary {
  background: $primary-btn;
  padding: 10px;
  font-weight: $font-weight-normal;
  color: $white;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-weight: $font-weight-normal;
  transition: 0.4s ease-out;
  display: inline-block;
  &:hover {
    background: linear-gradient(
      to right,
      rgba($lime-green, 0.7),
      rgba($bright-cyan, 0.7)
    );
    transform: translateY(-3px);
  }
}

.row {
  max-width: $page-width;
  margin: auto;
}

.section {
  margin-bottom: 5rem;

  &__title {
    line-height: 2;
    margin-bottom: 1rem;
    font: {
      size: 250%;
      weight: $font-weight-normal;
    }
  }

  &__description {
    line-height: 2;
  }
}
/* Utilities end */

body {
  font-family: $font-stack;
  background: $light-gray;
}

/*



/* Responsive layout */
.header {
  position: relative;
  z-index: 10;
  background: $white;

  &__hamburger {
    display: none;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav li {
    display: inline-block;
    margin: 0 1rem;
  }

  &__nav li a {
    display: inline-block;
    color: $grayish-blue;
    padding-top: 2rem;
    transition: 0.4s ease-out;

    &:after {
      content: '';
      display: block;
      height: 4px;
      margin-top: 2rem;
      background: transparent;
    }

    &:hover {
      color: $dark-blue;
      &:after {
        animation: fillUp 0.4s;
        background: $primary-btn;
      }
    }
  }
}
/* Header end */

/* Hero start */

.hero {
  position: relative;

  &__wrap {
    display: flex;
  }

  .btn-primary {
    width: auto !important;
  }

  &__image {
    position: absolute;
    flex: 1.1;
    right: 0;
    height: 100%;
    width: 50%;
    top: 0;
    background: {
      size: 130%;
      position: 20% 100%;
      repeat: no-repeat;
      image: url('../images/bg-intro-desktop.svg');
    }

    img {
      margin-top: -15%;
      width: 100%;
    }
  }

  &__content {
    width: 40%;
    height: $desktop-hero-height;
    flex-direction: column;
    position: relative;
    &--vertical-center {
      position: absolute;
      transform: translate(0, 50%);
    }

    h1 {
      font-size: 230%;
      font-weight: $font-weight-normal;
    }

    p {
      margin: 1rem 0;
    }
  }
}
/* Hero end */

/* Services start */
.services {
  &__grid {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 150%;
    font-weight: $font-weight-normal;
    line-height: 3;
  }

  .service {
    margin: 3rem 0;
    flex-wrap: wrap;
    width: 23.5%;
  }
}

/* Articles start */
.posts {
  &__grid {
    display: flex;
    justify-content: space-between;
  }
}

.post {
  margin: 3rem 0;
  flex-wrap: wrap;
  width: 23%;
  border-radius: 5px;
  overflow: hidden;

  &__content {
    background: $white;
    padding: 1.5rem;
  }

  &__author {
    font-size: 90%;
    margin-bottom: 1rem;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 110%;
    a {
      transition: 0.4s ease-out;
      &:hover {
        color: $lime-green;
      }
    }
  }

  &__header {
    background: #999;
    background-size: cover;
    position: relative;
    height: 210px;
    max-width: 500px;
    &--img {
      position: absolute;
      height: 100%;
      object-fit: fill;
    }
  }

  &__body {
    font-size: 90%;
  }
}

/* Articles end */

/* Main Footer start */

.main-footer {
  background: $dark-blue;
  padding: 2rem 0;

  .row {
    display: flex;
  }
  &__box {
    flex: 1;
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__logo--icons {
    display: flex;
    flex-direction: column;
  }

  &__social-icons {
    img {
      margin-right: 0.5rem;
    }
  }
  &__links {
    color: $white;
    li {
      margin-bottom: 1rem;
      a {
        transition: 0.4s ease-out;
        &:hover {
          color: $lime-green;
        }
      }
    }
  }

  &__signup {
    .copyright {
      color: $grayish-blue;
    }

    p:not(:last-child) {
      color: $white;
      margin-bottom: 3rem;
    }
    display: flex;
    flex-direction: column;
  }
}
/* Main Footer end */

/* Responsive layout */
@media (max-width: 375px) {
  .header {
    position: relative;
    background: transparent;
    &__logo {
      padding: 1.5rem 2rem;
      width: 100%;
      background: $white;
      z-index: 10;
      position: relative;
    }
    &__hamburger {
      display: block;
      float: right;
    }

    &__nav {
      margin: 2rem;
      position: absolute;
      display: none;
      z-index: 0;
      background: $white;
      text-align: center;
      background: $white;
      box-shadow: 0 0 200px $dark-blue;
      width: 85%;
      top: 4rem;
      border-radius: 5px;
      li {
        display: block;
        margin: 0;
      }

      li a {
        color: $dark-blue;
        padding: 1.5rem 0;
        display: block;
        &:after {
          display: none;
        }
      }
    }

    .row {
      display: block;
      flex-direction: column;
    }

    &__signup {
      display: none;
    }
  }
  /* Mobile Hero starts */
  .hero {
    position: relative;

    &__wrap {
      display: flex;
      flex-direction: column-reverse;
    }

    .btn-primary {
      width: auto !important;
    }

    &__image {
      width: 100%;
      position: relative;
      margin: auto;
      flex: 1;
      background: {
        repeat: no-repeat;
        image: url('../images/bg-intro-mobile.svg');
        size: cover;
      }

      img {
        width: 90%;
        display: block;
        margin: -32% auto 0 auto;
      }
    }

    &__content {
      width: 100%;
      height: auto;
      flex-direction: column;
      position: relative;
      padding: 0 2rem;
      text-align: center;
      &--vertical-center {
        position: relative;
        transform: translate(0);
      }
    }
  }
  /* Mobile Hero end */
}
